.SendButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.SendButtonContainer form {
    width: 100%;
}

.InputWrapper {
    margin: 0 15px;
    border: 1px solid #aaa;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.InputWrapper.disabled, .InputWrapper.disabled input {
    background-color: rgb(235, 235, 228);
}

.InputMessage {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    flex: 1;
}

.SendIcon {
    margin: 0 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.SendButton {
    width: 8%;
    height: 40px;
    min-width: 50px;
    margin: 15px;
}

.TypingUsers {
    margin: 0 15px;
    font-style: italic;
    font-size: 12px;
    padding: 0 10px;
}

.UserMessageContainer {
    display: flex;
    flex-direction: column;
}