.Username {
    padding: 15px;
}

.JoinButton {
    padding: 10px;
}

.InputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.InputContainer input {
    padding: 10px;
}